body {
            font-family: Comic Sans MS;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #FFB7B2
        }
        header {
            background-color: #CD5E77;
            color: #FFF;
            padding: 10px;
            text-align: center;
        }
        nav {
            background-color: #613613;
            padding: 10px;
            text-align: center;
        }
        nav a {
            color: #fff;
            text-decoration: none;
            padding: 5px 15px;
        }
        section {
            padding: 20px;
            text-align: center;
        }
        footer {
             background-color: #CD5E77;
            color: #fff;
            padding: 10px;
            text-align: center;
        }


